<div fxLayout="column" fxLayoutAlign="space-between stretch">
    <mat-toolbar>{{title}}</mat-toolbar>


    <div class="search" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px">

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Buscar" [formControl]="filter">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-flat-button color="accent" [routerLink]="['add']">
            <mat-icon>add</mat-icon>
        </button>

    </div>

    <div *ngIf="sinInvitados" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-icon>playlist_play</mat-icon>
        <span>Sin canciones</span>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center stretch" >
            <app-song-item [song]="item" *ngFor="let item of filteredList | async"></app-song-item>
        </div>
    </div>
</div>