
.example-header-image {
  background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/3e/74/f0/3e74f014-545e-b147-7a57-8c0d021c22e5/source/256x256bb.jpg");
  background-size: cover;
}



.example-card {
  margin: 0 16px;
}