<div fxLayout="column" fxLayoutAlign="space-between stretch">

    <div class="search" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px">

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Filtrar por nombre</mat-label>
            <input matInput placeholder="Buscar" [formControl]="filter">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-flat-button color="accent" [routerLink]="['add']">
            <mat-icon>add</mat-icon>
        </button>

    </div>

    <div *ngIf="noData" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" style="margin-top: 64px;">
        <mat-icon>playlist_play</mat-icon>
        <span>Sin canciones</span>
        <button mat-flat-button color="accent" [routerLink]="['add']">
            Agregar una canción
        </button>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center stretch">
        <div fxLayout="column" fxLayoutAlign="center stretch" >
            <app-song-item [song]="item" *ngFor="let item of filteredList | async"></app-song-item>
        </div>
    </div>
</div>