<div fxLayout="column" fxLayoutAlign="space-between stretch">
    <mat-toolbar>{{title}}</mat-toolbar>


    <div class="search" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px">

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Buscar" [formControl]="filter">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-flat-button color="accent" [routerLink]="['add']">
            <mat-icon>add</mat-icon>
        </button>

    </div>

    <div *ngIf="sinInvitados" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-icon>playlist_play</mat-icon>
        <span>Sin canciones</span>
    </div>

    <mat-list>

        <mat-list-item *ngFor="let item of filteredList | async">
            <a mat-button matLine [routerLink]="item.id + '/live'" style="text-align: left;">{{ item.title }}</a>
            <button mat-icon-button [routerLink]="item.id">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>