<div class="shell" fxLayout="column">
    <nav mat-tab-nav-bar mat-stretch-tabs headerPosition="below" color="accent">
        <a mat-tab-link routerLinkActive #rla="routerLinkActive" *ngFor="let link of links" [active]="rla.isActive"
            [routerLink]="link.link" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px" class="link">
            <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon>
            <span>{{link.label}}</span>
        </a>
    </nav>
    <main fxFlex>
        <router-outlet #outlet="outlet"></router-outlet>
    </main>
</div>