.text-container {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 4px #263238;
    background-color: whitesmoke;
    padding: 2px;
    // width: 317px;
    // height: 600px;
    margin-bottom: 50px;
}